.btn {
  background-color: black;
  color: white;
  margin: 5px;
  padding: 5px 20px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  &:hover {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    cursor: default;
  }
  &:active {
    background-color: lightblue;
    border-color: blue;
  }
}

.text-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  &:focus {
    border-color: chartreuse !important;
    border-radius: 5px;
  }
  &:-webkit-autofill {
    border-color: chartreuse !important;
    border-radius: 5px;
  }
}
