.button{
 background-color: black;
color: white;
margin: 5px;
padding: 5px 20px;
border-color:black;
border-width: 2px;
border-style: solid;
&:hover{
    border-color:red ;
    border-width: 2px;
    border-style: solid;
    cursor: default;
}
}

.text-input{
width: 100%;
padding: 10px;
border-radius: 5px;
&:focus{
  border-color: chartreuse !important;
  border-radius: 5px;
}
&:-webkit-autofill{
  border-color: chartreuse !important;
  border-radius: 5px;

}
}