.menu {
  width: 300px;
  background: white;
  // box-shadow: 2px 0 5px rgba(0,0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.1s ease-in;
  z-index: 100;
}

.open {
  transform: translateX(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 50;
}
